TimeGate does not inherit scheme for redirects

In [validating](http://mementoweb.org/tools/validator/info.html?uri=https%3A%2F%2Fipwb.ws-dl.cs.odu.edu%2Ftimegate%2Fmemento.us%2F&type=timegate&datetime=Sun%2C+01+Apr+2010+12%3A00%3A00+GMT&aggregator=http%3A%2F%2Ftimetravel.mementoweb.org%2Ftimegate%2F&follow=on&Submit=Submit) the ipwb Memento compliance, I noticed the warning of

> TimeGate does not redirect to last memento for datetimes in the future

This exact match check may be due to the difference in schemes (http vs https) that the TimeGate endpoint is serving in the location header.

```
$ curl -i -H "Accept-Datetime: Thu, 31 May 2099 20:35:00 GMT" https://ipwb.ws-dl.cs.odu.edu/timegate/memento.us/
HTTP/2 302 
content-type: text/html; charset=utf-8
date: Tue, 02 Oct 2018 14:46:37 GMT
link: <http://memento.us/>; rel="original", <https://ipwb.ws-dl.cs.odu.edu/timemap/link/memento.us/>; rel="timemap"; type="application/link-format", <https://ipwb.ws-dl.cs.odu.edu/timemap/cdxj/memento.us/>; rel="timemap"; type="application/cdxj+ors", <https://ipwb.ws-dl.cs.odu.edu/timegate/memento.us/>; rel="timegate", <https://ipwb.ws-dl.cs.odu.edu/memento/20130202100000/memento.us/>; rel="first memento"; datetime="Sat, 02 Feb 2013 10:00:00 GMT", <https://ipwb.ws-dl.cs.odu.edu/memento/20161231110000/memento.us/>; rel="prev memento"; datetime="Sat, 31 Dec 2016 11:00:00 GMT", <https://ipwb.ws-dl.cs.odu.edu/memento/20161231110001/memento.us/>; rel="last memento"; datetime="Sat, 31 Dec 2016 11:00:01 GMT"
location: http://ipwb.ws-dl.cs.odu.edu/memento/20161231110001/memento.us/
server: InterPlanetary Wayback Replay/0.2018.10.01.1947
vary: Accept-Datetime
content-length: 277

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<title>Redirecting...</title>
<h1>Redirecting...</h1>
<p>You should be redirected automatically to target URL: <a href="/memento/20161231110001/memento.us/">/memento/20161231110001/memento.us/</a>.  If not click the link.
```

Note the difference in scheme of the `last` entry in the Link headers and the value in the `location` header:
```
https://ipwb.ws-dl.cs.odu.edu/memento/20161231110001/memento.us/
http://ipwb.ws-dl.cs.odu.edu/memento/20161231110001/memento.us/
```

This could be due to some hard-coding in the replay system, to be investigated.

In `replay.py`:

```
resp = redirect('/memento/{0}/{1}'.format(newDatetime, urir), code=302)
```
...does not specify scheme or even hostname. Echoing `resp.headers` after this assignment results in

```
Content-Type: text/html; charset=utf-8
Content-Length: 277
Location: /memento/20161231110001/memento.us/
```

This behavior is also present in the location header for mementos when a redirect occurs to the "closest memento":

```
curl -I https://ipwb.ws-dl.cs.odu.edu/memento/20130202100009/memento.us/
HTTP/2 302 
content-type: text/html; charset=utf-8
date: Tue, 02 Oct 2018 15:55:56 GMT
link: <http://memento.us/>; rel="original", <https://ipwb.ws-dl.cs.odu.edu/timemap/link/memento.us/>; rel="timemap"; type="application/link-format", <https://ipwb.ws-dl.cs.odu.edu/timemap/cdxj/memento.us/>; rel="timemap"; type="application/cdxj+ors", <https://ipwb.ws-dl.cs.odu.edu/timegate/memento.us/>; rel="timegate", <https://ipwb.ws-dl.cs.odu.edu/memento/20130202100000/memento.us/>; rel="first memento"; datetime="Sat, 02 Feb 2013 10:00:00 GMT", <https://ipwb.ws-dl.cs.odu.edu/memento/20130202100000/memento.us/>; rel="next memento"; datetime="Sat, 02 Feb 2013 10:00:00 GMT", <https://ipwb.ws-dl.cs.odu.edu/memento/20130202100000/memento.us/>; rel="memento"; datetime="Sat, 02 Feb 2013 10:00:00 GMT", <https://ipwb.ws-dl.cs.odu.edu/memento/20161231110001/memento.us/>; rel="last memento"; datetime="Sat, 31 Dec 2016 11:00:01 GMT"
location: http://ipwb.ws-dl.cs.odu.edu/memento/20130202100000/memento.us/
server: InterPlanetary Wayback Replay/0.2018.10.01.1947
content-length: 277
```
Note the server request on `https` and the location header being `http`.

I believe this may be a Flask internal conversion of relative URIs in location headers (legal per RFC7231 Section 7.1.2) and may be a Flask bug, since (per the same section), the URI requested that caused this redirect is not wholly (i.e., same scheme) used as the basis of the redirect.

For local testing, I added `ssl_context='adhoc'` to `app.run()` in replay then:

`curl -i --insecure -H "Accept-Datetime: Thu, 31 May 2099 20:35:00 GMT" https://localhost:5002/timegate/memento.us/`

but then get a `Location: https://localhost:5002/memento/20161231110001/memento.us/`, inconsistent in the `ipwb.ws-dl.cs.odu.edu` deployment.

Further testing should be done on something like http://xip.io/ to determine what is the typical behavior. Can you think of any reason why redirects from the TimeGate on the ODU deployment would go to http whereas a local deployment using the above would correctly redirect to https, @ibnesayeed?

It might have something to do with what URIs are impacted withe the proxy setup and what try to inherit from the context of the service itself.

The above (answering my own question to @ibnesayeed) could be that in the setup change. We are telling Flask that we are using https, albeit ad hoc, it suffices to propagate the https scheme to the TimeGate's location response header.

We can perhaps fix it by explicitly generating absolute URIs for redirects where we can respect the proxy configurations.

It looks like manually generating an absolute URI will be the best way to go as turning this auto-correction feature off is not safe and relative redirect is against the RFC 2616.

https://stackoverflow.com/questions/22669447/how-to-return-a-relative-uri-location-header-with-flask

However, later RFC 7231 allowed relative redirects as per https://tools.ietf.org/html/rfc7231#section-7.1.2

@ibnesayeed We are requiring an older version of Flask. This is due to some compatibility issues that I have cursorily tested that are preventing the upgrade to latest. I am not convinced, however, that Flask is doing this scheme switch due to the 2616 but perhaps as a default functionality if there is no indication of HTTPS (e.g., the `adhoc` use case above).

Ideally, we could tell Flask to stop trying to infer scheme and just use the relative Location. Let's continue to investigate this to see if this is possible, potentially by testing the functionality in the latest Flask. If not, then we can try the manual Response construction to prevent the ill-conversion. If that still does not work, we can try to detect the scheme (which should not be difficult given it's available in other parts of the Link/TimeMap.